<footer class="site-footer pink">
  
    <hr class="plaid">

    <div class="footer-wrapper">
      
      <div class="social-nav mobile">
        <ul class="nav-menu">
          <li class="social"><a href="{{site.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="social"><a href="{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>

      <div class="footer-left">

        <h2 class="footer-heading">
          <img src="{{ site.baseurl | prepend: 'img/logo-small.png' }}" alt="{{ site.title }}" height="34" width="329">
        </h2>

        <p>{{site.footer1}}<br>2015 {{site.company}}</p>
    
      </div>

      <div class="footer-right">
        
        <div class="social-nav desktop">
          <ul class="nav-menu">
            <li><a class="follow" href="javascript:void(0);">Follow Us!</a></li>
            <li class="social"><a href="{{site.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="social"><a href="{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>

        <p>
          {{site.email}} | {{site.phone}}<br>
          {{site.address}}

        </p>

      </div>

    </div>


</footer>
